* {
	font-family: "Vollkorn", Georgia, serif;
	font-size: 1.05em;
}

/*li {
	
}
*/
/*.active {
	color: #CF5300;
}*/
#mapdiv {
    width: 800px;
    height: 450px;
    margin-right: auto;
    margin-left: auto;
}
a:link {
	text-decoration: none;
	color: #CF5300;
}
a:hover {
	text-decoration:underline;
	color:#CF5300;
}

.jumbotron {
	padding-left: 20em;
}
a:visited {
	text-decoration: none;
	color: #CF5300;
}